body	{
	margin: 0;
	padding: 0;
	font: Arial Bold, sans-serif;
}

#shell {
	font-family: Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-image: url(shell.jpg);
	width: 2550px;
	height: 3300px;
	margin: auto;
	position: relative;
}	

#text	{
	font-family: 'Pontano Sans', sans-serif;
	width: 700px;
	height: 500px;
	position: relative;
	top: 2750px;
	left: 1770px;
	font-size: 40px;
	color: #ccc;
	line-height: 45px;
	text-align: right;
}

.label	{
	color: #fff;
}