body	{
	margin: 0;
	padding: 0;
	font: Arial Bold, sans-serif;
}

#shell {
	font-family: Helvetica, sans-serif;
	background-repeat: no-repeat;
	background-image: url(shell.jpg);
	width: 2550px;
	height: 3300px;
	margin: auto;
	position: relative;
	overflow: hidden;
}	

#text	{
	width: 2450px;
	height: 750px;
	position: relative;
	top: 2300px;
	left: 40px;
	font-size: 48px;
	color: #000;
	line-height: 55px;
	text-align: left;
}

.label	{
	color: #000;
}

.col1	{
	float: left;
	width: 810px;
	padding-right: 10px;
}

.col2	{
	font-weight: bold;
	float: left;
	width: 880px;
}

.col3	{
	font-weight: bold;
	float: left;
	width: 750px;
}

.phone {
    position: relative;
    font-family: Arial, sans-serif;
	top: 2210px;
	color: #fff;
	font-weight: bold;
	font-size: 142px;
	width: 1200px;
	height: 200px;
	left: 1380px;
}

.tearOffWrapper	{
	margin: 0;
	padding: 0;
	clear: both;
	height: 600px;
	width: 550px;
	vertical-align: text-top;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 32px;
	line-height: 45px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	padding-left: 50px;
}

.tearWrap	{
	width: 600px;
	overflow: hidden;
	margin-top: 7px;
	margin-bottom: 7px;
}
